{{ template "base" .}}

{{ define "main" }}
    {{ template "navbar" .}}
    <div class=" flex flex-col py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h1 class="text-4xl font-bold">Protected Area</h1>
        </div>
    </div>
{{end}}